{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static "picnic.min.css" %}">
<link rel="stylesheet" href="{% static "style.css" %}">
<link rel="stylesheet" href="{% static "font-awesome-4.6.3/css/font-awesome.min.css" %}">
</head>

<body>
<nav>
  <a href="{% url "home" %}" class="brand">
    {% if team_logo %}<img src="{{ team_logo }}">{% endif %}
    <span>{{ team_name }}</span>
  </a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub"  class="burger pseudo button">☰</label>

  <div class="menu">
  {% if request.user.id %}
    <a href="{% url "checkin-create" %}" class="pseudo button">Your Status</a>
    <a href="{% url "checkin-day" day="today" %}" class="pseudo button">Team Status</a>
    {% if request.user.is_staff %}
      <a href="{% url "admin:index" %}" class="pseudo button">
        <i class="fa fa-gear"></i>
      </a>
    {% endif %}
    <a href="{% url "logout" %}" class="pseudo button">
      <i class="fa fa-sign-out"></i>
    </a>
  {% else %}
    <a href="{% url "login" %}" class="pseudo button">
      <i class="fa fa-sign-in"></i>
    </a>
  {% endif %}
  </div>
</nav>

<div id="wrap">
<main>
{% block "body" %}
{% endblock "body" %}
</main>
</div>

<footer>
  <p>
    Built by
    <a href="http://threde.com/" target="_blank">
      <img src="{% static "threde-logo.png" %}">
    </a>
  </p>
  <p>
    <a href="https://gitlab.com/threde/open-team-status">Source</a> licensed
    under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html"
            target="_blank">GPLv3</a>.
    <br>
    Robots by <a href="http://robohash.org" target="_blank">Robohash.org</a>
  </p>
</footer>
</body>
</html>
