html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
}
main {
    overflow:auto;
    padding-bottom: 150px;
}
footer {
    position: relative;
    height: 150px;
    clear:both;

    width: 100%;
    max-width: 960px;
    margin: -150px auto 0;
    font-size: .75em;
} 
footer p {
    margin-top: 0;
}
footer a {
    color: #333;
}
footer a img {
    vertical-align: middle;
}

section {
    text-align: left;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 10px 0;
}

.day {
    float: left;
}
.day-nav {
    float: right;
}

.person {
    text-align: center;
    position: relative;
}
.avatar {
    border-radius: 100%;
    background: lightgrey;
}
.person i.fa {
    position: absolute;
    top: 0;
}
.person i.fa.met-goals {
    left: 33%;
}
.person i.fa.blocked {
    left: 65%;
}
.checkin h4 {
    padding: 0;
}
.checkin-list {
    padding-top: 20px;
}

.count {
    text-align: center;
}
.checked-in {
    color: blue;
}
.met-goals {
    color: green;
}
.blocked {
    color: red;
}

.help {
    opacity: .75;
    font-size: .75em;
}

.brand img {
    height: 40px;
}

.missing {
    filter: saturate(0%) opacity(50%);
    -webkit-filter: saturate(0%) opacity(50%);
}

@media(max-width: 500px) {
    h1.count {
        font-size: 20px;
    }
}
/* override picnics over-animation */
.flex, a, button, .button, [type=submit], input,textarea, .select, select, nav {
    transition: none;
}
