{% load md2 %}
<div class="checkin">
    <h1>
        <img src="https://robohash.org/{% firstof object.user.email object.user.username %}?gravatar=yes&size=64x64"
            class="avatar">
        {% firstof object.user.full_name object.user %}
    </h1>

    <h3>Yesterday:</h3>
    <p>{{ object.yesterday|markdown:"safe" }}</p>
    <h4>Goals met:
    {% if object.goals_met %}
    ☑
    {% else %}
    ☐
    {% endif %}
    </h4>

    <h3>Today:</h3>
    <p>{{ object.today|markdown:"safe" }}</p>

    {% if object.blockers %}
    <h3>Blockers:</h3>
    <p>{{ object.blockers|markdown:"safe" }}</p>
    {% endif %}
</div>
