{% extends "base.html" %}
{% block "body" %}
<section>
    <h3 class="day">
        {{ date }}
    </h3>
    <span class="day-nav">
        <a href="{% url "checkin-day" day=prev %}" class="button">
            <i class="fa fa-angle-left"></i> Prev</a>
        {% if date == today %}
        <button disabled>Next <i class="fa fa-angle-right"></i></button>
        {% else %}
        <a href="{% url "checkin-day" day=next %}" class="button">Next
            <i class="fa fa-angle-right"></i></a>
        {% endif %}
    </span>
    <hr style="clear:both">
    <div class="flex three">
        <h1 class="count checked-in">
            {{ object_list.count }} / {{ num_users }}
            <br>
            Checked In
        </h1>
        <h1 class="count met-goals">
            {{ object_list.goals_met.count }} / {{ num_users }}
            <br>
            Met Goals
        </h1>
        <h1 class="count blocked">
            {{ object_list.blocked.count }} / {{ num_users }}
            <br>
            Are Blocked
        </h1>
    </div>
    <hr>
    <div class="flex one two-500 checkin-list">
        {% for object in object_list %}
            {% include "checkins/checkin.html" %}
        {% endfor %}
        {% for object in missing_checkins %}
            {% include "checkins/checkin.html" %}
        {% endfor %}
    </div>
</section>
{% endblock "body" %}
