{% extends "base.html" %}
{% load staticfiles %}
{% load emoji_tags %}

{% block "body" %}
<section>
<form action="" method="post" class="flex two-800 one">{% csrf_token %}
    <span class="full help"><a href="https://daringfireball.net/projects/markdown/"
                          target="_blank">Markdown</a> formatting is supported</span>
    {% for field in form %}
        <p>
        {{ form.subject.errors }}
        {{ field.type }}
        {% if field.name == 'goals_met' %}
            {{ field }}
            <label for="{{ field.id_for_label }}" class="checkable">{{ field.label }}</label>
        {% else %}
            {{ field.label_tag }}
            {{ field }}
        {% endif %}
        {{ form.subject }}
        </p>
        <p>
            {% if field.name == 'yesterday' %}
                <label>Yesterday's goals</label>
                <textarea rows="10" disabled>{{ yesterday }}</textarea>
            {% elif field.name == 'today' %}
                <label>Preview</label>
                <span id="preview"></span>
            {% elif field.name == 'blockers' %}
                <label>Preview</label>
                <span id="blockers-preview"></span>
            {% endif %}
        </p>
    {% endfor %}
    <input type="submit" value="Save" />
</form>
</section>
<script src="{% static "lib/jquery-1.12.4.min.js" %}"></script>
<script src="{% static "emoji/js/emoji.js" %}"></script>
<script>Emoji.setDataUrl('{% url 'list.json' %}').load();</script>
<script src="{% static "lib/markdown.js" %}"></script>
<script src="{% static "preview.js" %}"></script>
{% endblock "body" %}
