{% extends "base.html" %}
{% load staticfiles %}

{% block "body" %}
<section>
    <h3 class="day">
        {{ date }}
    </h3>
    <span class="day-nav">
        <a href="{% url "checkin-day" day=prev %}" class="button">
            <i class="fa fa-angle-left"></i> Prev</a>
        {% if date == today %}
        <button disabled>Next <i class="fa fa-angle-right"></i></button>
        {% else %}
        <a href="{% url "checkin-day" day=next %}" class="button">Next
            <i class="fa fa-angle-right"></i></a>
        {% endif %}
    </span>
    <hr style="clear:both">
    <div class="flex three-800 one">
        <div>
        <div id="checked-in-gauge" class="guage"></div>
        </div>
        <div>
        <div id="met-goals-gauge" class="guage"></div>
        </div>
        <div>
        <div id="blocked-gauge" class="guage"></div>
        </div>
    </div>
    <hr>
    <div class="flex one two-500 checkin-list">
        {% for object in object_list %}
            {% include "checkins/checkin.html" %}
        {% endfor %}
        {% for object in missing_checkins %}
            {% include "checkins/checkin.html" %}
        {% endfor %}
    </div>
</section>
<script src="{% static "lib/justgage.js" %}"></script>
<script src="{% static "lib/raphael-2.1.4.min.js" %}"></script>
<script>
  new JustGage({
      id: "checked-in-gauge",
      value: {{ object_list.count }},
      min: 0,
      max: {{ num_users }},
      title: "Checked In",
      levelColors: ["#0074d9"]
    });
  new JustGage({
      id: "met-goals-gauge",
      value: {{ object_list.goals_met.count }},
      min: 0,
      max: {{ num_users }},
      title: "Met Goals",
      levelColors: ["#2ecc40"]
    });
  new JustGage({
      id: "blocked-gauge",
      value: {{ object_list.blocked.count }},
      min: 0,
      max: {{ num_users }},
      title: "Blocked",
      levelColors: ["#ff4136"]
    });
</script>
{% endblock "body" %}
